<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/StyleCss/MainCss.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="/materialize/css/materialize.css" rel="stylesheet" />
    <link href="~/StyleCss/MainCss.css" rel="stylesheet" />

</head>

@*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@



<body style="direction: rtl">
    @Html.Partial("PartialView/_Header")
    @Html.Partial("PartialView/_NavBar")
   @*@Html.Partial("PartialView/_Badge")*@
    @*---------------------------------------------------------------------------------------*@
    <div class=" row container text-center">
        @RenderBody()
        </div>
    @Html.Partial("PartialView/_Footer")

    @*------------------------------------------------------------------------------------*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/StyleCss/jquery-3.1.0.min.js"></script>
    <script src="~/materialize/js/materialize.min.js"></script>
    <script src="~/StyleCss/StyleJS.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>


















